@charset "utf-8";

$purple: #443fe2;
$green: #00b487;
$red: #f44336;
$orange: #ff7600;
$seal: #5d5d5d;

$small: 1000px;

@mixin transition {
	transition: all 0.5s ease;
}

@mixin msgs {
	.msg {
		margin-bottom: 20px;

		p {
			display: inline-block;
			font-size: 0.8rem;
			margin-left: 10px;
		}
	}

	.error {
		h2 {
			color: $red;
			font-size: 1.2rem;
			display: inline-block;
		}
	}

	.success {
		h2 {
			color: $green;
			font-size: 1.2rem;
			display: inline-block;
		}
	}
}

// Common Style

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html,
body {
	color: #fff;
	background: $seal;
}

h1,
h2 {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	@include transition;
	color: #000;

	&:hover {
		text-decoration: none;
	}
}

.btn {
	border: 0px;
	padding: 10px 20px;

	&:hover {
		opacity: 0.7;
		color: #fff;
	}

	border-radius: 25px;
	border: none;
	@include transition;
}

.btnPositive {
	background: $orange;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		color: #fff;
	}
}

.btnNegative {
	color: #fff;
	@include transition;
}

i.material-icons {
	vertical-align: -4px;
	margin-right: 4px;
	font-size: 20px;
}

//common Form style
form {
	.fieldset {
		margin-bottom: 30px;

		label {
			font-weight: 700;
		}

		input[type="text"],
		input[type="password"],
		input[type="date"] {
			@include transition;
			color: #fff;

			&:focus {
				outline: none;
				border-bottom: 1px solid $purple;
			}

			border: none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			width: 100%;
			background: transparent;

			&::placeholder {
				color: rgba(255, 255, 255, 0.2);
			}
		}

		input[type="date"] {
			width: auto;
			color: #000;
			background: #fff;
			margin-left: 5px;
			padding-left: 5px;
		}

		textarea {
			color: #fff;
			@include transition;

			&:focus {
				outline: none;
				border: 1px solid $purple;
			}

			height: 150px;
			border: 1px solid rgba(255, 255, 255, 0.4);
			width: 100%;
			margin-bottom: 30px;
			background: transparent;

			&::placeholder {
				color: rgba(255, 255, 255, 0.2);
			}
		}

		select {
			border: none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			margin-left: 20px;
			border-radius: 0;
			-webkit-appearance: none;

			&:focus {
				outline: none;
			}
		}

		.imgPrev {
			width: 250px;
			display: block;
		}
	}
}

#loginPage,
#signUp {
	.wrapper {
		padding: 30px;
		color: #000;
		height: 89vh;

		.login {
			background: rgba(255, 255, 255, 0.5);
			padding: 0 70px 30px;

			p {
				a {
					text-decoration: underline;
				}
			}

			form {
				.fieldset {
					.btn {
						width: 100%;
					}
				}
			}
		}

		h1 {
			font-size: 3rem;
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		@include msgs;
	}

	.wrapper.gbGradient {
		background: none;

		.intro {
			width: 80%;

			h1 {
				font-size: 3rem;
				text-transform: uppercase;
			}

			p {
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

// Common CSS
body {
	header {
		width: 100%;
		background: #fff;

		nav {
			h1 {
				display: inline-block;

				a {
					&:hover {
						text-decoration: none;
						color: $purple;
					}
				}
			}

			ul {
				float: right;
				margin: 30px;

				@media only screen and (max-width: ($small)) {
					float: none;

					li {
						a {
							padding: 0 20px 0 0;
						}
					}
				}

				li {
					display: inline-block;
				}
			}

			a {
				padding: 0 30px;
				font-weight: 700;

				&:hover {
					color: $purple;
				}

				&.active {
					background: rgba(255, 255, 255, 0.1);
				}
			}

			p {
				color: #000;
				display: inline-block;

				@media only screen and (max-width: ($small)) {
					display: block;
					margin-left: 30px;
				}
			}
		}

		@media only screen and (max-width: ($small)) {
			height: auto;
			position: relative;
			float: none;
			width: 100%;

			nav {
				a {
					display: inline-block;
				}
			}
		}
	}

	main {
		overflow: auto;
		margin: 0 auto;
		height: 100%;
		width: 80%;
		padding: 30px;
		background: rgba(255, 255, 255, 0.2);

		.list {
			background: rgba(0, 0, 0, 0.2);
			margin-bottom: 60px;

			a {
				color: #fff;
				overflow-wrap: break-word;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		// .d-table {
		// 	width: 100%;
		// 	table-layout: fixed;
		// 	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		// 	.d-table-cell {
		// 		padding: 10px;
		// 	}
		// }

		// .listHead {
		// 	background: rgba(255, 255, 255, 0.1);
		// 	font-size: 18px;
		// 	text-transform: uppercase;
		// 	border: none;
		// }

		.breadcrumbs {
			margin: 20px 0 40px;
			font-size: 12px;
		}

		@media only screen and (max-width: ($small)) {
			float: none;
			width: 100%;
		}
	}
}

// common
main.inner {
	@include msgs;

	.msg {
		margin-top: 30px;
	}
}

#suggestions {
	main {
		.list {
			.listItem {
				padding: 10px;
				border-bottom: rgba(255, 255, 255, 0.2) 2px solid;

				.voter {
					font-weight: 700;
					float: left;
					margin-right: 10px;
				}

				.datePosted {
					opacity: 0.7;
					float: left;
				}

				.suggestionWrapper {
					clear: both;
					margin-bottom: 10px;

					.suggestionTitle {
						font-size: 20px;
						font-weight: bold;
						text-decoration: none;
						display: block;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.suggestion {
					opacity: 0.7;

					.support {
						display: inline-block;
						font-weight: 700;
						font-size: 20px;
					}
				}
			}

			.vote {
				i.material-icons {
					font-size: 26px;
				}
			}

			.listHead {
				.d-table-cell {
					font-size: 14px;
					overflow-wrap: break-word;

					&:first-child {
						width: 50%;
					}
				}
			}

			.suggestion {
				.d-table-cell {
					&:first-child {
						width: 50%;
					}
				}
			}
		}
	}
}

#suggestionDetail {
	.section {
		.suggestion {
			h2 {
				font-weight: 700;
			}

			.suggestionInfo {
				margin: 20px 0;

				span {
					font-size: 12px;
					margin-right: 10px;
				}
			}

			.support,
			.voteIcon,
			.voteIcon a {
				display: inline-block;
				font-size: 30px;
			}

			.voteIcon {
				a {
					color: #fff;

					i.material-icons {
						font-size: 30px;
					}

					;
				}
			}

			.suggestionP {
				margin-top: 30px;
			}
		}
	}
}