// COLORS ---------------------------------------------------------------------
$orange: #d99c50;
$rgbO: 217,
156,
80;

$lightAqua: #d1f9fa;
$rgbLA: 209,
249,
250;

$lightBlue: #6bc4d1;
$rgbLB: 107,
196,
209;

$darkAqua: #245e62;
$rgbDA: 36,
94,
98;

$white: whitesmoke;

$lightGray: #E8E8E8;

$gradient: linear-gradient(to bottom, $darkAqua 0%, $lightBlue 100%);

// FONTS ----------------------------------------------------------------------
$font: 'Raleway',
sans-serif;

@mixin fontBlack {
    font-family: $font;
    font-weight: 900;
}

@mixin fontBold {
    font-family: $font;
    font-weight: 700;
}

@mixin fontReg {
    font-family: $font;
    font-weight: 400;
}

@mixin fontLight {
    font-family: $font;
    font-weight: 300;
}

@mixin fontLightIt {
    font-family: $font;
    font-weight: 300;
    font-style: italic;
}

.listHeader {
    @include fontBlack;
}

// SPACING --------------------------------------------------------------------
.h100 {
    height: 100vh;
}

.w100 {
    width: 100vw;
}

.removeGutter {
    padding-right: 0px;
    padding-left: 0px;
}

// LOGO SIZING ----------------------------------------------------------------
.logoLg {
    height: 12rem;
}

.logoSm {
    height: 5rem;
}

// SEPARATORS -----------------------------------------------------------------
hr.shortSeparator {
    border: .5rem solid $lightAqua;
    border-radius: .3rem;
    width: 5rem;
}

//BUTTONS----------------------------------------------------------------------
$btnRadius: 10rem;

//primary*****************************
.btn-primary {
    background: $orange;
    border-color: $orange;
    border-radius: $btnRadius;
    @include fontBlack;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.btn-primary:hover {
    background: $orange;
    color: $white;
    border-color: $orange;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    color: $white;
    background-color: $orange;
    border-color: rgba(217, 156, 80, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

.btn-lg {
    padding: .5rem 4rem;
}

@media only screen and (max-width: 1314px) {
    .btn-lg {
        padding: .5rem 1rem;
    }
}

//secondary *****************************
.btn-secondary {
    background: $orange;
    border-color: $orange;
    border-radius: $btnRadius;
    color: $white;
}

.btn-secondary:hover {
    background: $orange;
    color: $white;
    border-color: $orange;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: $white;
    background-color: $orange;
    border-color: rgba(217, 156, 80, 0.25);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

//outline *****************************
.btn-outline-secondary {
    border-color: $orange;
    color: $orange;
    border-radius: $btnRadius;
    text-transform: uppercase;
    @include fontReg;
}

.btn-outline-secondary:hover {
    color: $orange;
    background-color: $white;
    border-color: $orange;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    border-color: $orange;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: $orange;
    background-color: $white;
    border-color: rgba(217, 156, 80, 0.25);
    border: 1px solid $orange;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(217, 156, 80, 0.25);
}

//LOGIN PAGE ---------------------------------------------------------------------------
body#loginPage {
    background-image: url("../imgs/bg-login.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: $lightAqua;
}

#loginLogo {
    height: 10rem;
}

#loginForm {
    background: $white;
    border-radius: .70rem;
}

#loginText {
    color: $lightAqua;
}

#loginText h1 {
    @include fontBlack;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#loginText p {
    @include fontReg;
    text-transform: capitalize;
}

//FORMS------------------------------------------
#formCol {
    height: 100vh;
}

.form-control {
    border-radius: .50rem;
    color: $darkAqua;
    @include fontReg;
    background-color: $lightGray;
}

.form-control:focus {
    color: $darkAqua;
    @include fontBold;
    background-color: $lightGray;
    box-shadow: 0 0 0 .1rem rgba(107, 196, 209, 1);
}

.fieldset a {
    transition: .6s ease;
}

.fieldset a:hover {
    text-decoration: none;
    color: $orange;
    transition: .6s ease;
}

.fieldset p {
    color: $darkAqua;
    @include fontReg;
}

.fieldset p a {
    color: $darkAqua;
    @include fontBold;
    text-transform: uppercase;
}

.formHeader {
    color: $darkAqua;
}

.formHeader .h2 {
    @include fontBlack;
    text-transform: uppercase;
}

.formHeader p {
    @include fontBold;
    text-transform: uppercase;
}

// MODAL BOX ****************************
.modal-header {
    border-bottom: none;
}

.modal-title {
    @include fontBold;
    color: $darkAqua;
    text-transform: uppercase;
}

.modal-content {
    background-color: $white;
}

.modal-footer {
    border-top: none;
    justify-content: flex-start;
    padding: 0;
}

//DASHBOARD PAGE --------------------------------------------------------------

//USER ACCOUNT INFO***********************
.accountCol {
    border-radius: 0px 50px 0px 0px;
    background-color: $white;
    /* For browsers that do not support gradients */
    background-image: linear-gradient($darkAqua, $lightBlue);
    /* Standard syntax (must be last) */
    background-size: cover;
}

.accountCol .h2 {
    color: $lightAqua;
    @include fontReg;
}

.accountCol .h3 {
    color: $lightAqua;
    @include fontBold;
}

img.dashBubbles {
    width: 50%;
    overflow: hidden;
}
//HEART ANIMATION ******************

.heart{
    // float: right;
    display: inline-block;
    bottom:50px;
    position: absolute;
    cursor: pointer;
    height: 90px;
    width: 90px;
    background-image:url( "../imgs/heart.png");
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
  }
  
  .active {
    animation: heart-burst .8s steps(28) 1;
  }
  
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }

//SUGGESTIONS ***********************
.suggestCol {
    background-color: $lightGray;
    min-height: 100vh;
    height: 100%;
}

.suggestCol form {
    background-color: #fff;
}

.suggestCol .h2 {
    @include fontBold;
    color: $darkAqua;
}

.suggestCol input {
    @include fontLightIt;
}

.listHeader .h3 {
    @include fontBlack;

}

.listHeader p {
    color: $darkAqua;
    text-transform: uppercase;
}

.listHeader a {
    color: $orange;
    text-transform: lowercase;
}

.suggestCard {
    font-family: font;
    color: $darkAqua;
    border-radius: 1rem;
}

.suggestCard h6,
.suggestCard span {
    @include fontBold;
}

.suggestCard p {
    @include fontLightIt;
}

.suggestCard small {
    @include fontReg;
}

//USER STATS INFO***********************
.statsCol {
    background-color: $white;
}