* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  color: #fff;
}

h1,
h2 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

a:hover {
  color: #fff;
}

.btn {
  border: 0px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: all 0.5s ease;
}

.btn:hover {
  opacity: 0.7;
  color: #fff;
}

.btnPositive {
  background: #f2646e;
  color: #fff;
  text-transform: uppercase;
}

.btnPositive:hover {
  color: #fff;
}

.btnNegative {
  color: #fff;
  transition: all 0.5s ease;
}

i.material-icons {
  vertical-align: -4px;
  margin-right: 4px;
  font-size: 20px;
}

form .fieldset {
  margin-bottom: 30px;
}

form .fieldset label {
  font-weight: 700;
}

form .fieldset input[type="text"],
form .fieldset input[type="password"],
form .fieldset input[type="date"] {
  transition: all 0.5s ease;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  background: transparent;
  color: #fff;
}

form .fieldset input[type="text"]:focus,
form .fieldset input[type="password"]:focus,
form .fieldset input[type="date"]:focus {
  outline: none;
  border-bottom: 1px solid #443fe2;
}

form .fieldset input[type="text"]::placeholder,
form .fieldset input[type="password"]::placeholder,
form .fieldset input[type="date"]::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

form .fieldset input[type="date"] {
  width: auto;
}

form .fieldset textarea {
  color: #fff;
  transition: all 0.5s ease;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-bottom: 30px;
  background: transparent;
}

form .fieldset textarea:focus {
  outline: none;
  border: 1px solid #443fe2;
}

form .fieldset textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

form .fieldset select {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 20px;
  border-radius: 0;
  -webkit-appearance: none;
}

form .fieldset select:focus {
  outline: none;
}

form .fieldset .imgPrev {
  width: 250px;
  display: block;
}

#loginPage {
  background: radial-gradient(ellipse at center, #96c93d 0%, #96c93d 33%, #00b09b 53%, #00b09b 100%);
  background-size: 600% 600%;
  -webkit-animation: bgGradientMove 35s ease infinite;
  animation: bgGradientMove 35s ease infinite;
  display: flex;
}

@-webkit-keyframes bgGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#loginPage a {
  color: #fff;
  text-decoration: underline;
}

#loginPage .wrapper {
  padding: 30px;
  width: 40%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
}

#loginPage .wrapper .login form .fieldset .btn {
  float: right;
}

#loginPage .wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#loginPage .wrapper .msg {
  margin-bottom: 20px;
}

#loginPage .wrapper .msg p {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 10px;
}

#loginPage .wrapper .error h2 {
  color: #ff3184;
  font-size: 1.2rem;
  display: inline-block;
}

#loginPage .wrapper .success h2 {
  color: #ff7072;
  font-size: 1.2rem;
  display: inline-block;
}

#loginPage .wrapper.gbGradient {
  background: none;
}

#loginPage .wrapper.gbGradient .intro {
  width: 80%;
}

#loginPage .wrapper.gbGradient .intro h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

#loginPage .wrapper.gbGradient .intro p a:hover {
  text-decoration: none;
}

body {
  background: radial-gradient(ellipse at center, #96c93d 0%, #96c93d 33%, #00b09b 53%, #00b09b 100%);
  background-size: 600% 600%;
  -webkit-animation: bgGradientMove 35s ease infinite;
  animation: bgGradientMove 35s ease infinite;
}

@-webkit-keyframes bgGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body header {
  height: 100%;
  position: fixed;
  float: left;
  width: 220px;
  background: rgba(0, 0, 0, 0.2);
}

body header .title h1 {
  margin-bottom: 30px;
  padding: 30px 0 0 30px;
}

body header .title h1 a:hover {
  text-decoration: none;
  opacity: 0.7;
}

body header nav a {
  display: block;
  padding: 15px 30px;
}

body header nav a.active {
  background: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 1000px) {
  body header {
    height: auto;
    position: relative;
    float: none;
    width: 100%;
  }
  body header nav a {
    display: inline-block;
  }
}

body main {
  overflow: auto;
  height: 100%;
  float: right;
  width: calc(100% - 220px);
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
}

body main .list {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

body main .d-table {
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body main .d-table .d-table-cell {
  padding: 10px;
  overflow-wrap: break-word;
}

body main .listHead {
  background: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  text-transform: uppercase;
  border: none;
}

body main .breadcrumbs {
  margin: 20px 0 40px;
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  body main {
    float: none;
    width: 100%;
  }
}

main.inner .msg {
  margin-bottom: 20px;
}

main.inner .msg p {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 10px;
}

main.inner .error h2 {
  color: #ff3184;
  font-size: 1.2rem;
  display: inline-block;
}

main.inner .success h2 {
  color: #ff7072;
  font-size: 1.2rem;
  display: inline-block;
}

main.inner .msg {
  margin-top: 30px;
}

main.inner a.btnAdd {
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

main.inner a.btnAdd:hover {
  background: #fff;
  color: #443fe2;
  text-decoration: none;
}

main.inner a.btnAdd:hover i {
  color: #443fe2;
}

main.inner a.btnAdd i {
  transition: all 0.5s ease;
}

#navigation main form .btn {
  margin: 30px 0;
}
